.u-section-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1 .u-image-1 {
  width: 686px;
  height: 686px;
  margin: 60px auto 0 29px;
}

.u-section-1 .u-text-1 {
  margin: -663px 0 60px 740px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 16px;
    margin-left: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -517px;
    margin-left: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -317px;
    margin-left: 0;
  }
}